[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/xkenshi/Desktop/Masaustumyeter]
row=0
col=0

[/home/xkenshi/Desktop/BTİRME SUNUM İÇİN OLAN.docx]
row=4
col=0

[/home/xkenshi/Desktop/MTE-OTONOM]
row=2
col=0

[/home/xkenshi/Desktop/sql]
row=1
col=0

[/home/xkenshi/Desktop/Bitirme]
row=5
col=0

[/home/xkenshi/Desktop/SIHA]
row=0
col=1

[/home/xkenshi/Desktop/Untitled Diagram.drawio.png]
row=0
col=15

[/home/xkenshi/Desktop/Untitled.jpg]
row=3
col=0

