[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/xkenshi/Desktop/xftheme]
row=2
col=0

[/home/xkenshi/Desktop/steam.desktop]
row=1
col=1

[/home/xkenshi/Desktop/KasperSky VPN]
row=0
col=1

[/home/xkenshi/Desktop/159Z_2107.w026.n002.628B.p1.628.jpg]
row=3
col=0

[/]
row=0
col=0

[/home/xkenshi]
row=1
col=0

